# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python specific
**/__pycache__/
*.py[cod]
**/*.so
**/.mypy_cache
**/.pytest_cache
venv/
ENV/
env/

# Next.js specific
.next/
out/

# NestJS specific
dist/

# NX specific
.nx/
.nx/cache

# IDE specific
.idea/
.vscode/
*.swp
*.swo
