/* ResultsTable.module.css */
.resultsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 0.9rem;
}

.cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.header {
  background-color: #f2f2f2;
}

.row:hover {
  background-color: #f5f5f5;
}

.activeSort {
  background-color: #d0e0fc; /* ソートされている列の色 */
}
