# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# 通常、PyInstallerが生成する一時ファイルや実行可能ファイルを無視します
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
venv/
ENV/
env/

# Spyder project settings
.spyderproject
.spyproject

# PyCharm project settings
.idea/
*.iml

# VS Code settings
.vscode/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# pytest
.cache
.pytest_cache/

# mypy
.mypy_cache/
